@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
body {
    background-color: $soc-body-bg-color;
}

*:focus {
    outline: none;
}

.soc-page {
    position: relative;
    .soc-content {
        position: relative;
        left: 0;
        right: 0;
    }
    &.has-navbar {
        top: $navbar-height;
    }
    &.has-sidebar {
        .soc-content {
            @include soc-transition(all, $soc-transition-sidebar-duration, $soc-transition-sidebar-function, $soc-transition-sidebar-delay);
        }
    }
}