@import 'variables';
@import '../Bootstrap/bootstrap/variables';
@import '../Bootstrap/bootstrap/mixins';

body {
    background-color: $soc-body-bg-color;
}

*:focus {
    outline: none;
}

.soc-page {
    position: relative;
    
    &.has-navbar {
        top: $navbar-height;
    }
    
    
}