@import 'variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
.soc-page {
    .soc-sidebar {
        background-color: $soc-sidebar-bg-color;
        color: $soc-sidebar-color;
        position: fixed;
        left: 0;
        bottom: 0;
        top: $navbar-height;
        width: $soc-sidebar-width;
        z-index: 1000;
        @include soc-transition(all, $soc-transition-sidebar-duration, $soc-transition-sidebar-function, $soc-transition-sidebar-delay);
        .soc-sidebar-content {
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
        }
    }
    /* Sidebar position when closed */
    &.has-sidebar {
        &.closed {
            .soc-sidebar {
                width: 0;
            }
        }
    }
    /* Main content adjustments because of sidebar */
    &.has-sidebar {
        .soc-content {
            left: $soc-sidebar-width;
            margin-right: $soc-sidebar-width;
        }
        &.closed {
            .soc-content {
                left: 0;
                margin-right: 0;
            }
        }
    }
}