////////////////////////
//     Soc specific   //
////////////////////////

//General
$soc-body-bg-color:         white;


//Sidebar
$soc-sidebar-width:                     270px;
$soc-sidebar-toggler-width:             20px;
$soc-sidebar-total-width:               $soc-sidebar-width + $soc-sidebar-toggler-width;

$soc-sidebar-bg-color:                  #333;
$soc-sidebar-color:                     white;
$soc-sidebar-toggler-bg-color:          #808080;
$soc-sidebar-toggler-color:             white;


//Transitions
$soc-transition-general-duration:       0.2s;
$soc-transition-general-function:       cubic-bezier(0.610, -0.535, 0.305, 0.990); //ease-in-out
$soc-transition-general-delay:          0s;
//Sidear transitions
$soc-transition-sidebar-duration:       $soc-transition-general-duration;
$soc-transition-sidebar-function:       $soc-transition-general-function;
$soc-transition-sidebar-delay:          $soc-transition-general-delay;





/////////////////////////////////
//     Bootstrap overrides     //
/////////////////////////////////

// Basics of a navbar
$navbar-height:                    60px;
$navbar-default-color:             #555;
$navbar-default-bg:                #f8f8f8;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd;
$navbar-default-toggle-icon-bar-bg:        #888;

// Navbar links
$navbar-default-link-color:                $navbar-default-color;
$navbar-default-link-hover-color:          black;
$navbar-default-link-hover-bg:             lighten($navbar-default-bg, 6.5%);
$navbar-default-link-active-color:         darken($navbar-default-color, 6.5%);
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%);
$navbar-default-brand-hover-bg:            transparent;
