////////////////////////
//     Soc specific   //
////////////////////////
$soc-body-bg-color: white;

//Sidebar
$soc-sidebar-width: 270px;
$soc-sidebar-bg-color: #666;
$soc-sidebar-color: white;

//General
$soc-spacing-padding-item: 15px;
$soc-spacing-padding: $soc-spacing-padding-item $soc-spacing-padding-item 0 $soc-spacing-padding-item;



/////////////////////////////////
//     Bootstrap overrides     //
/////////////////////////////////

// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-default-color:             #555 !default;
$navbar-default-bg:                #ddd !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;

// Navbar links
$navbar-default-link-color:                $navbar-default-color !default;
$navbar-default-link-hover-color:          black !default;
$navbar-default-link-hover-bg:             lighten($navbar-default-bg, 6.5%) !default;
$navbar-default-link-active-color:         darken($navbar-default-color, 6.5%) !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;
