//@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons';
.soc-actionbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    min-height: $soc-actionbar-height;
    height: $soc-actionbar-height;
    background-color: $soc-actionbar-bg-color;
    color: $soc-actionbar-color;
    text-align: center;
    width: 100%;
    .soc-actionbutton {
        @extend .btn;
        margin: 0 10px;
        border-width: 0;
        padding: 1px 0;
        height: $soc-actionbar-height;
        background-color: $soc-actionbar-bg-color;
        color: $soc-actionbar-color;
        font-size: $font-size-medium;
        i {
            font-size: $font-size-large + 7;
        }
    }
    &.fixed {
        position: fixed;
    }
}

.soc-sidebar {
    .soc-actionbar {
        position: static;
    }
}

.soc-main {
    .soc-actionbar {
        &.spacer {
            border-left: white solid 1px;
        }
    }
}

.soc-page {
    &.closed {
        .soc-main {
            .soc-actionbar {
                border-left: none;
                &.fixed {
                    padding-left: 0;
                }
            }
        }
    }
    &.has-sidebar {
        .soc-main {
            .soc-actionbar {
                &.fixed {
                    padding-left: $soc-sidebar-width;
                }
            }
        }
    }
}

.soc-main {
    &.has-actionbar {
        .soc-main-content {
            bottom: $soc-actionbar-height;
        }
    }
}