@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons';
.soc-actionbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    height: $soc-actionbar-height;
    background-color: $soc-actionbar-bg-color;
    color: $soc-actionbar-color;
    text-align: center;
    width: 100%;
    .soc-actionbutton {        
        @extend .btn;
        margin: 0 10px;
        border-width: 0;
        padding: 1px 0;
        height: $soc-actionbar-height;
        background-color: $soc-actionbar-bg-color;
        color: $soc-actionbar-color;
        font-size: $font-size-medium;
        i {
            font-size: $font-size-large + 10;
        }
    }
}

.soc-sidebar {
    .soc-actionbar {
        position: initial;
    }
}

.soc-main {
    .soc-actionbar {
        border-left: white solid 1px;
    }
}

.soc-page {
    &.closed {
        .soc-main {
            .soc-actionbar {
                border-left: none;
            }
        }
    }
}

.soc-main {
    &.has-actionbar {
        .soc-main-content {
            bottom: $soc-actionbar-height;
        }
    }
}
