$loader-blocking-color:  rgba(0, 0, 0, 0.5);

.soc-loader-block {
    z-index: 7900;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $loader-blocking-color;
    display: none;
}

.soc-loader {
    $spinner-size: 125px;
    $box-padding: 80px;
    $text-height: 24px;
    $spinner-to-text-spacing: 15px;
    /* position properties */
    position: fixed;
    $height: $spinner-size + ($box-padding * 2) + ($spinner-to-text-spacing * 2) + ($text-height * 2);
    $width: $height;
    height: $height;
    width: $width;
    top: 40%;
    margin-top: -($height / 2);
    left: 50%;
    margin-left: -($width / 2);
    z-index: 8000;
    /* text properties */
    font-size: $text-height;
    text-align: center;
    /* box properties */
    //border: 1px solid black;
    padding: $box-padding;
    padding-top: $text-height + $spinner-to-text-spacing + $box-padding;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.8) 20%,  transparent 60%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.8) 20%, transparent 60%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.8) 20%, transparent 60%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbb', endColorstr='#bbb', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    display: none;
    &::before {
        border: $soc-loader-thickness solid transparent;
        border-top: $soc-loader-thickness solid $soc-accent-color;
        border-bottom: $soc-loader-thickness solid $soc-accent-color;
        border-radius: 50%;
        width: $spinner-size;
        height: $spinner-size;
        animation: spin 2s linear infinite;
        margin: 0 auto $spinner-to-text-spacing auto;
        display: block;
        content: "";
    }
    &.demo-purpose {
        display: block;
        position: static;
        z-index: 1;
        margin: 10px 0;
        padding: 0;
        height: 180px;
        width: 125px;
    }
}

.soc-page.is-loading {
    .soc-loader {
        display: block;
    }
    .soc-loader-block {
        display: block;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}