body {
    overflow-x: hidden;
}

.navbar-toggle {
    margin-right: initial;
    margin-left: initial;
    float: left;
    border: none;
}

.navbar-user {
    cursor: default;
}

.btn {
    border-radius: 0px !important;
}

.show-grid {
    span {
        display: block;
        margin-bottom: 15px;
        min-height: 40px;
        line-height: 40px;
        background-color: rgba(0, 0, 0, 0.1);
        text-align: center;
    }
}