@import 'variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
body {
    background-color: $soc-body-bg-color;
    color: $soc-body-color;
}

*:focus {
    outline: none;
}

.soc-page {
    position: relative;
    .soc-main {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom:0;
        .soc-main-content {
            overflow-y: auto;
            overflow-x: hidden;
            position: absolute;
            bottom: 0;
            top: 0;
        }
    }
    &.has-navbar {
        top: $navbar-height;
        .soc-main {
            top: $navbar-height;
        }
    }
    &.has-sidebar {
        .soc-main {
            @include soc-transition(all, $soc-transition-sidebar-duration, $soc-transition-sidebar-function, $soc-transition-sidebar-delay);
        }
    }
}

.soc-appversion {
    z-index: 5000;
    position: absolute;
    float: right;
    top: 1px;
    right: 5px;
    font-size: xx-small;
    color: black;
    &::before {
        content: "v.";
    }
}