.soc-panel {
    $soc-title-padding-right: 50px;

    margin-bottom: 20px;

    .soc-title {
        @extend h3;
        padding-bottom: 8px;
        padding-right: $soc-title-padding-right;
        border-bottom: solid 1px lightgray;
        margin-bottom: 0;
    }
    .soc-content {
        padding-top: 10px;
    }
    .soc-collapser {
        padding: 4px;
        cursor: pointer;
        float: right;
        margin-top: 7px;
        color: #777;
    }
    &:not(.heavy):not(.secondary):not(.accent) {
        .soc-content {
            .container-fluid {
                margin: 0 -15px;
            }
        }
    }
    &.secondary {
        .soc-title {
            padding: 6px;
            background-color: $soc-secondary-color;
            padding-right: $soc-title-padding-right;
            color: $soc-secondary-text-color;
            border: solid 1px black;
        }
        .soc-content {
            border-left: solid 1px black;
            border-right: solid 1px black;
            border-bottom: solid 1px black;
        }
        .soc-collapser {
            padding-right: 10px;
            color: $soc-secondary-text-color;
            margin-top: 8px;
        }
    }
    &.accent {
        .soc-title {
            padding: 6px;
            background-color: $soc-accent-color;
            padding-right: $soc-title-padding-right;
            color: $soc-secondary-text-color;
            border: solid 1px &soc-accent-color;
        }
        .soc-content {
            border-left: solid 1px $soc-accent-color;
            border-right: solid 1px $soc-accent-color;
            border-bottom: solid 1px $soc-accent-color;
        }
        .soc-collapser {
            padding-right: 10px;
            color: $soc-accent-text-color;
            margin-top: 8px;
        }
    }
    &.heavy {
        .soc-title {
            padding: 8px;
            padding-right: $soc-title-padding-right;
            background-color: black;
            color: white;
        }
        .soc-content {
            border-left: solid 1px black;
            border-right: solid 1px black;
            border-bottom: solid 1px black;
        }
        .soc-collapser {
            padding-right: 10px;
            margin-top: 9px;
            color: white;
        }
    }
    &.collapsed {
        .soc-content {
            display: none;
        }
        .soc-title {
            margin-bottom: 10px;
        }
    }
}