@import "variables";
@import "mixins";
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons';

.soc-sidebar {
    .soc-searchresult {
        width: $soc-sidebar-width;
        height: $soc-searchresult-height;
        background-color: grey;
        padding: 3px;
        text-align: center;
        @include soc-transition(all, $soc-transition-sidebar-duration, $soc-transition-sidebar-function, $soc-transition-sidebar-delay);
        .badge {
            background-color: $soc-accent-color;
            @include soc-transition(all, $soc-transition-sidebar-duration, $soc-transition-sidebar-function, $soc-transition-sidebar-delay);
        }
    }
    &.has-actionbar {
        .soc-searchresult {
            bottom: $soc-actionbar-height;
            width: inherit;
        }
    }
}

.soc-searchitem {
    background-color: white;
    color: black;
    padding: 7px 2px 7px 5px;
    border-bottom: solid black 1px;
    font-size: 120%;

    $i: 1;
    @each $color in $color-filter-1,
    $color-filter-2,
    $color-filter-3,
    $color-filter-4,
    $color-filter-5,
    $color-filter-6,
    $color-filter-7,
    $color-filter-8,
    $color-filter-9,
    $color-filter-10 {
        &.filter#{$i} {
            border-left-color: $color;
            border-left-style: solid;
            border-left-width: 8px;
        }
        $i: $i+1;
    }
}

.soc-search {
    width: $soc-sidebar-width;
    background-color: $soc-base-color;
    color: $soc-base-text-color;

    .soc-search-form {
        padding-top: 10px;
    }

    .soc-search-button {
        @extend .btn-primary;
        width: $soc-sidebar-width;
    }

    .soc-search-filterbar {
    display: flex;
    width: $soc-sidebar-width;
    height: 40px;
    .soc-search-filter {
        flex-basis: 100%;
    }
    $i: 1;
    @each $color in $color-filter-1,
    $color-filter-2,
    $color-filter-3,
    $color-filter-4,
    $color-filter-5,
    $color-filter-6,
    $color-filter-7,
    $color-filter-8,
    $color-filter-9,
    $color-filter-10 {
        .filter#{$i} {
            background-color:$color;
            color: calculate-text-color($color);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: small;

           &:hover {
             background-color: darken($color, 15%);
           }
        }
        $i: $i+1;
    }
}
}