@import "variables";
@import "mixins";
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons';
.soc-sidebar {
    .soc-searchresult {
        width: $soc-sidebar-width;
        height: $soc-searchresult-height;
        background-color: grey;
        padding: 3px;
        text-align: center;
        @include soc-transition(all, $soc-transition-sidebar-duration, $soc-transition-sidebar-function, $soc-transition-sidebar-delay);
        .badge {
            background-color: $soc-accent-color;
            @include soc-transition(all, $soc-transition-sidebar-duration, $soc-transition-sidebar-function, $soc-transition-sidebar-delay);
        }
    }
    &.has-actionbar {
        .soc-searchresult {
            bottom: $soc-actionbar-height;
            width: inherit;
        }
    }
}

.soc-searchitem {
    background-color: $soc-base-color;
    color: $soc-base-text-color;
    padding: 7px;
    padding-right: 5px;
    border-bottom: solid $soc-secondary-color 1px;
    font-size: 110%;
    cursor: pointer; //border-right: solid $soc-secondary-color 1px;
    &.active {
        background-color: darken($soc-base-color, 15%);
    }
    &:hover {
        background-color: darken($soc-base-color, 10%);
    }
    .soc-typography-name {
        line-height: 30px;
        cursor: pointer;
    }
    .soc-searchitem-badge {
        margin: 5px;
        float: right;
        background-color: $soc-secondary-accent-color;
        color: calculate-text-color($soc-secondary-accent-color);
        cursor: pointer;
    }
    $i: 1;
    @each $color in $color-filter-1,
    $color-filter-2,
    $color-filter-3,
    $color-filter-4,
    $color-filter-5,
    $color-filter-6,
    $color-filter-7,
    $color-filter-8,
    $color-filter-9,
    $color-filter-10 {
        &.filter#{$i} {
            border-left-color: $color;
            border-left-style: solid;
            border-left-width: 8px;
        }
        $i: $i+1;
    }
}

.soc-search {
    width: $soc-sidebar-width;
    background-color: $soc-secondary-color;
    color: $soc-secondary-text-color;
    .soc-search-form {
        padding: 10px 0px;
        .soc-searchinfo {
            font-size: 90%;
        }
    }
    .soc-search-button {
        width: $soc-sidebar-width;
        background-color: $soc-accent-color;
        border-color: $soc-accent-color;
        color: $soc-accent-text-color;
        &:hover,
        &:active,
        &:focus,
        &:active:focus {
            background-color: darken($soc-accent-color, 8%);
            border-color: darken($soc-accent-color, 8%);
        }
    }
    .soc-search-filterbar {
        display: flex;
        width: $soc-sidebar-width;
        height: 40px;
        .soc-search-filter {
            flex-basis: 100%;
            cursor: pointer;
        }
        $i: 1;
        @each $color in $color-filter-1,
        $color-filter-2,
        $color-filter-3,
        $color-filter-4,
        $color-filter-5,
        $color-filter-6,
        $color-filter-7,
        $color-filter-8,
        $color-filter-9,
        $color-filter-10 {
            .filter#{$i} {
                background-color: $color;
                color: calculate-text-color($color);
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: small;
                &:hover {
                    background-color: darken($color, 15%);
                }
            }
            $i: $i+1;
        }
    }
}