.soc-stategroup {
    padding: 10px;
    background-color: $soc-accent-color;

    >.soc-state {
        @extend .btn;
        @extend .btn-default;
        padding: 3px;
        margin: 10px 0;
        background-color: $soc-base-color;

        &:first-child {
            border-bottom-left-radius: 6px;
            border-top-left-radius: 6px;
        }

        &:last-child {
            border-bottom-right-radius: 6px;
            border-top-right-radius: 6px;
        }

        &.active {
            background-color: darken($soc-base-color, 15%);
        }
    }
}
