.soc-tabs {
    background-color: $soc-tab-bg-color;
    color: $soc-tab-color;
    .nav-tabs {
        border-bottom: none;
        >li {
            >a {
                &:hover {
                    border-color: transparent;
                }
                &.active {
                    color: $soc-body-color;
                }
                color: $soc-tab-color;
            }
        }
    }
    &:not(.top) {
        .nav-tabs {
            float: left; //margin-right: 19px;
            width: $soc-tabs-left-width-percent;
            >li {
                float: none;
                margin-bottom: 0;
                >a {
                    border-right: transparent;
                    margin-right: -1px;
                }
                &.active {
                    >a {
                        border: 1px solid $soc-tab-border-color;
                        border-right: transparent;
                    }
                }
            }
        }
        .tab-pane {
            width: 100% - $soc-tabs-left-width-percent;
            margin-left: $soc-tabs-left-width-percent;
        }
    }
    &.top {
        .nav-tabs {
            >li {
                >a {
                    border-bottom: transparent;
                    margin-bottom: -1px;
                }
                &.active {
                    >a {
                        border: 1px solid $soc-tab-border-color;
                        border-bottom: transparent;
                    }
                }
            }
        }
    }
    .tab-pane {
        background-color: $soc-body-bg-color;
        color: $soc-body-color;
        border: 1px solid $soc-tab-border-color;
        padding-top: 15px;
    }
}

.soc-header,
.soc-stategroup {
    +.soc-tabs:not(.inconsistent) {
        background-color: $soc-accent-color;
        color: $soc-accent-text-color;
        .nav-tabs {
            >li {
                >a {
                    color: $soc-accent-text-color;
                }
                &.active {
                    >a {
                        color: $soc-body-color;
                    }
                }
            }
        }
    }
}