.soc-tabgroup {
    padding: 50px;
    background-color: $soc-accent-color;

    >.soc-tab {
        @extend .btn;
        @extend .btn-default;
        padding: 3px;
        margin: 10px 0;
        background-color: $soc-base-color;

        &:first-child {
            border-bottom-left-radius: 6px;
            border-top-left-radius: 6px;
        }

        &:last-child {
            border-bottom-right-radius: 6px;
            border-top-right-radius: 6px;
        }

        &.active {
            background-color: darken($soc-base-color, 15%);
        }
    }
}

.soc-tab-header {
    background-color:   $soc-accent-color;
    color:              $soc-accent-text-color;
    font-size:          120%;
    padding:            10px;

    .soc-tab-header-title {
        font-weight: bold;
    }

    .soc-tab-header-right {
        @extend .text-right;
        @extend .pull-right;
    }
}