.soc-tabs {
    background-color: $soc-body-bg-color;
    color: $soc-body-color;
    .nav-tabs {
        border-bottom: none;
        >li {
            >a {
                &:hover {
                    border-color: transparent;
                }
            }
        }
    }
    &.left {
        .nav-tabs {
            float: left;
            margin-right: 19px;
            width: 20%;
            >li {
                float: none;
                margin-bottom: 0;
                >a {
                    border-right: transparent;
                    margin-right: -1px;
                }
                &.active {
                    >a {
                        border: 1px solid #e7eaec;
                        border-right: transparent;
                    }
                }
            }
        }
        .tab-pane {
            width: 80%;
            margin-left: 20%;
        }
    }
    &:not(.left) {
        
        .nav-tabs {
            >li {
                >a {
                    border-bottom: transparent;
                    margin-bottom: -1px;
                }
                &.active {
                    >a {
                        border: 1px solid #e7eaec;
                        border-bottom: transparent;
                    }
                }
            }
        }
    }
    .tab-pane {
        background-color: white;
        color: black;
        border: 1px solid #e7eaec;
        padding: 15px;
    }
}

.soc-header,
.soc-stategroup {
    +.soc-tabs {
        background-color: $soc-accent-color;
        color: $soc-accent-text-color;
    }
}