$soc-base-color: white;
$soc-base-text-color: black;
$soc-navigation-color: #e8e8e8;
$soc-navigation-text-color: #333;
$soc-secondary-color: #333;
$soc-secondary-text-color: white;
$soc-accent-color: #519595;
$soc-accent-text-color: white;

$soc-sidebar-width: 320px;
$soc-actionbar-height: 75px;
$soc-navbar-height: 50px;

$soc-transition-timing-multiplier: 4;
