// SETTING DEFAULT VARIABLES IN CASE NO TEMPLATE HAS BEEN SET
$soc-color-1:		#EFBC9B !default;
$soc-color-2:		#725456 !default;
$soc-color-3:		#36213E !default;
$soc-color-4:		#554971 !default;
$soc-color-5:		#63768D !default;
$soc-color-6:		rgba(35, 31, 32, 1);
$soc-color-7:		rgba(187, 68, 48, 1);
$soc-color-8:		rgba(126, 189, 194, 1);
$soc-color-9:		rgba(243, 223, 162, 1);
$soc-color-10:		rgba(239, 230, 221, 1);

$soc-navbar-height: 50px !default;
$soc-transition-timing-multiplier: 2 !default;


////////////////////////
//     Soc specific   //
////////////////////////

//Colors
$soc-base-color:                white !default;
$soc-base-text-color:           black !default;
$soc-navigation-color:          #f8f8f8 !default;
$soc-navigation-text-color:     #333 !default;
$soc-secondary-color:           #333 !default;
$soc-secondary-text-color:      white !default;
$soc-accent-color:              #4FAFDB !default;
$soc-accent-text-color:         white !default;
$soc-secondary-accent-color:    darkred !default;
$soc-table-active-color:        #C7EBF0 !default;
$soc-table-active-text-color:   black !default;

$color-filter-1:		$soc-color-1;
$color-filter-2:		$soc-color-2;
$color-filter-3:		$soc-color-3;
$color-filter-4:		$soc-color-4;
$color-filter-5:		$soc-color-5;
$color-filter-6:		$soc-color-6;
$color-filter-7:		$soc-color-7;
$color-filter-8:		$soc-color-8;
$color-filter-9:		$soc-color-9;
$color-filter-10:		$soc-color-10;	

//General
$soc-body-bg-color:         $soc-base-color;
$soc-body-color:            $soc-base-text-color;

//Sidebar
$soc-sidebar-width:                     300px  !default;
$soc-sidebar-toggler-width:             20px  !default;
$soc-sidebar-total-width:               $soc-sidebar-width + $soc-sidebar-toggler-width !default;

$soc-sidebar-bg-color:                  $soc-secondary-color !default;//#2a9acd !default;
$soc-sidebar-color:                     $soc-secondary-text-color !default;
$soc-sidebar-toggler-bg-color:          $soc-accent-color !default;//#808080 !default;
$soc-sidebar-toggler-color:             $soc-accent-text-color !default;

//Searchresult
$soc-searchresult-height:       27px;

//Actionbar
$soc-actionbar-bg-color:            $soc-accent-color;
$soc-actionbar-color:               $soc-accent-text-color;
$soc-actionbar-height:              55px !default;

//Transitions
$soc-transition-timing-multiplier:      0 !default;
$soc-transition-general-duration:       $soc-transition-timing-multiplier * 0.1s !default;
$soc-transition-general-function:       cubic-bezier(0.610, -0.535, 0.305, 0.990) !default; //ease-in-out
$soc-transition-general-delay:          0s !default;
//Sidebar transitions
$soc-transition-sidebar-duration:       $soc-transition-general-duration !default;
$soc-transition-sidebar-function:       $soc-transition-general-function !default;
$soc-transition-sidebar-delay:          $soc-transition-general-delay !default;





/////////////////////////////////
//     Bootstrap overrides     //
/////////////////////////////////

// Fonts
$font-family-sans-serif:        "Frutiger", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-large:               22px !default;
$font-size-medium:              16px !default;

// Basics of a navbar
$navbar-height:                    $soc-navbar-height !default;
$navbar-default-color:             $soc-navigation-text-color !default;
$navbar-default-bg:                $soc-navigation-color !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;

// Navbar links
$navbar-default-link-color:                $navbar-default-color !default;
$navbar-default-link-hover-color:          black !default;
$navbar-default-link-hover-bg:             lighten($navbar-default-bg, 6.5%) !default;
$navbar-default-link-active-color:         darken($navbar-default-color, 6.5%) !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

$border-radius-base:        0 !default;
$border-radius-large:       0 !default;
$border-radius-small:       0 !default;